@charset "UTF-8";
/* CSS Document */

:root {
	--primary: #218e41;
	--secondary: yellow;
	--dark: rgb(51, 51, 51);
	--light: #fff;
	
}
* {
	margin: 0;
	box-sizing: border-box;
}


body {
	margin: auto;
	background-color: #218e4110;
	line-height: 1.4;
	font-family: Arial, Helvetica, sans-serif;
}

.privacy {
	margin: 10px;
	padding: 40px;
	background-color: #fff;
}

.privacy h1 {
	text-align: center;
}
/* .wrapper */

.wrapper {
	display: grid;
	/* gap: 10px; */
}

.phone-number {
	grid-area: navigation;
	text-align: center;
	font-weight: bolder;
	font-size: 1.5em;
}

.phone-number a {
	text-decoration: none;
	color: black;
}

.reviews {
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(3, 1fr);
	margin: 1em;
	background-color: var(--primary);
	color: #fff;
	/* max-height: 200px; */
	min-height: 100px;
}

.comment {
	vertical-align: top;
	text-align: center;
	display: inline-block;
	padding: 25px;

}

.junk-hauling {
	text-align: center;
	font-size: 1.5em;
	font-weight: 800;
	padding: 1em;
}
.fa {
	grid-area: navigation;
	color: black;
	font-size: 1.5em;
}

.btn {
	display: inline-block;
	background: var(--primary);
	color: var(--light);
	padding: 0.6rem 1.3rem;
	text-decoration: none;
	border: 0;
}

.video {
	margin: auto;
	padding: 1em;
}

ul {
		margin-left: auto;
		margin-right: auto;
		width: 90%;
	}


.top-container {
	display: grid;
	/* gap: 5px; */
	align-items: center;
	justify-items: center;
	grid-template-areas: 
		"logo navigation navigation"
		"hero hero hero";
	background: var(--light);
}

.logo {
	grid-area: logo;
	display: block;
	min-width: 250px;
	width: 300px;
	padding: 1em;
	margin: auto;
}

.topnav {
	grid-area: topnav;
	display: flex;
	justify-content: space-around;
	align-items: center;
	grid-gap: 1em;
}

.topnav a {
	display: block;
	text-decoration: none;
	padding: 0.2rem 0.4rem;
	text-align: center;
	color: var(--primary);
	text-transform: uppercase;
	font-size: 1.1rem;
}

.topnav a:hover {
	background: var(--primary);
	color: var(--light);
}

.topnav a.active {
	background-color: #218e4180;
	color: var(--light);
}

.navigation {
	grid-area: navigation;
}

p.slogan {
	grid-area: logo;
	text-align: center;
	font-style: italic;
	font-weight: bold;
}

p.slogan-2 {
	grid-area: navigation;
	font-size: 2em;
	font-style: italic;
	text-align: center;
}

.website {
	grid-area: navigation;
	text-align: center;
	font-size: 1.5em;
	color: var(--primary);
}

.hero {
	grid-area: hero;
	min-height: 300px;
	width: 100%;
	background: white url(/images/curbside-junk-removal-header.jpg);
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	position: relative;
}

.hero-text {
	background-color: #13723199;
	padding: 1em;
	border-radius: .5em;
	text-align: center;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	color: var(--light);
}

.btn a {
	text-decoration: none;
	color: var(--light);
	font-size: 1.5em;
}

.top-banner {
	display: flex;
	background-color: black;
}

.top-banner h4 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	font-size: 2em;
	font-weight: 600;
	padding: 5px;
	margin: auto;
	color: var(--light);
	line-height: 1;

}

.large-heading {
	display: flex;
	text-align: center;
	justify-content: center;
	width: 100%;
	position: relative;
	background-color: var(--light);
	font-size: 1.5rem;
	line-height: 1;
	padding: 1.5em;
	margin: auto;
}

.large-heading h1 {
	font-size: 1.5em;
}

.top-list {
	align-items: center;
	margin: 0;
}

.top-list ul{
	display: grid;
	grid-template-columns: 1fr 1fr;
	gap: 1.5em;
	/* width: 80%; */
	padding-bottom: 1em;
	margin: 0 10%;
}

.top-list li {
	font-style: italic;
	font-size: 1.5em;
	margin: 0 1em;
}

h2.middle-heading {
	display: grid;
	margin: auto;
	grid-column: 1 / span 3;
	font-size: 2em;
	background: var(--light);
	padding: 1em;
	text-align: center;
}

p {
	padding-bottom: .5em;
}

/* Services */

.services {
	display: grid;
	gap: 5px;
	grid-template-columns: repeat(3, 1fr);
	margin: 1em;
	}

.service-image img {
	display: flex;
	object-fit: cover;
	margin: auto;
	padding-bottom: .5em;
	max-width: 250px;
	height: 350px;
	}

.service-topic {
	display: grid;
	background: var(--light);
	text-align: center;
	padding: 1rem 1rem;
}

h2.service-title {
	font-size: 2em;
	line-height: 1em;
	padding-bottom: 0.2em;
}

.services-list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	width: 100%;
	margin: auto;
	font-size: 1.2em;
}
.services-list h2 {
			background-color: var(--primary);
			color: var(--light);
			width: 100%;
			margin: auto;
			padding: 0 1em;
		}
.services-list li {
	padding: .2rem;
}

.services-list a {
	text-decoration: none;
	color: #000;
}

.services-list a:hover {
	text-decoration: none;
	color: var(--primary);
}

/* Footer Area */


.footer {
	background: var(--light);
	display: grid;
	gap: 20px;
	grid-template-columns: repeat(3, 1fr);
	margin: 1em;

}

.footer ul {
	padding-bottom: 1em;
}

.footer h3 {
	font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
	text-align: center;
	padding-bottom: .5em;
}

.footer-container {
	height: auto;
	margin: 1em;
	background: var(--light);
	text-align: left;
	padding: 1.5rem 2rem;
	font-size: large;
}
.footer-container img {
	padding-bottom: 1em;
}

.footer-left p {
	padding-bottom: 1em;
}

.footer-left a {
	text-decoration: none;
	color: var(--primary);
	font-weight: bold;
}

.footer-middle img {
	display: block;
	max-width: 200px;
	margin: auto;
	padding: 10px 0;
}

/* Set the size of the div element that contains the map */
#map {
	height: 400px;
	/* The height is 400 pixels */
	width: 100%;
	/* The width is the width of the web page */
}

.site-creds {
	margin: 1em;
}

.site-creds a {
	text-decoration: none;
	color: var(--primary);
}

.about-us-wrap, .faq-wrap {
	display: block;
	max-width: 80%;
	background: #fff;
	padding: 15px 25px;
	margin: 30px auto;
}

.about-us-wrap p {
	font-size: 1.4em;
	margin: auto;
	padding: 1em;
}

.about-us-wrap img {
	float: left;
	width: 400px;
	margin: auto;
	padding: 1em;
	padding-top: 2em;
}

.about-us-wrap h2,
.faq-wrap h2 {
	font-size: 2em;
	margin: auto;
	padding: 1em;
}

.about-us-wrap h2 {
	padding-bottom: 0;
}

.about-us-wrap a,
.faq-wrap a {
	text-decoration: none;
	color: var(--primary);
}

.faq-wrap p {
	font-size: 1.2em;
	margin: auto;
}

.faq-wrap h2 {
	padding: .2em 0;
}

.faq-answer {
	color: var(--primary);
	padding-bottom: 1em;
}

.my-faq-list {
	font-weight: bold;
}

/* .form-container {
	box-sizing: border-box;
	margin: 30px auto;
	padding: 0;
} */

.form-wrap {
	max-width: 70%;
	background: #fff;
	/* background: #b9eec910; */
	padding: 15px 25px;
	margin: 30px auto;
}

.form-wrap h2, .form-wrap p {
	text-align: center;
}

.form-wrap .form-group {
	margin-top: 15px;
}

.form-wrap .form-group label {
	display: block;
}

.form-group input {
	width: 100%;
	padding: 10px;
	border: #218e41 1px solid;
	border-radius: 5px;
}

.form-group textarea {
	width: 100%;
	padding: 10px;
	border: #218e41 1px solid;
	border-radius: 5px;
}
.form-wrap button {
	margin: auto;
	display: block;
	width: 40%;
	padding: 10px;
	margin-top: 20px;
	border-radius: 5px;
	background: var(--primary);
	color: #fff;
	cursor: pointer;
	font-size: large;
}

.form-wrap button:hover {
	background: #218e4190;
}

.service-topic-area {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.service-topic-area .image-holder img {
	max-width: 600px;
	min-width: 200px;
	margin: auto;
	padding: 1em;
}

.image-holder {
	box-sizing: border-box;
}

.top-header-image img {
	width: 760px;
}

.service-topic-area > p {
	font-size: 1.5em;
	width: 80%;
	text-align: center;
}

.service-topic-area a {
		text-decoration: none;
		color: var(--primary);
	}
/* FAQ Page Drop Down Start */
/* Style the buttons that are used to open and close the accordion panel on FAQ page */
.accordion {
	font-size: 1.2em;
	font-weight: bold;
  background-color: #fff;
  color: #000;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  text-align: left;
  border: none;
  outline: none;
  transition: 0.4s;
}

/* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
/* .active, .accordion:hover {
  background-color: #ccc;
} */

/* Style the accordion panel. Note: hidden by default */
.panel {
	color: var(--primary);
	font-weight: bold;
  padding: 0 18px;
  background-color: white;
  display: none;
  overflow: hidden;
}

.accordion:after {
  content: '\02795'; /* Unicode character for "plus" sign (+) */
  font-size: 13px;
  color: #777;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2796"; /* Unicode character for "minus" sign (-) */
}
.topnav a.active::after {
	content: none;
}

/* FAQ Page Drop Down End */









/* Media Queries */

 @media(max-width: 900px) {

	body {
		margin: auto;
	}
	
	.wrapper {
		display: grid;
		justify-content: center;
	}
	
	ul {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}


	 .top-container {
		 grid-template-areas: 
		 "logo logo"
		 "navigation navigation"
		 "hero hero";
		}

   .top-banner h4 {
		 display: flex;
		 text-align: center;
		 font-size: 1.5em;
		 margin: auto;
	 } 

	 .large-heading {
		width: 90%;
		margin: auto;
		padding: 1em;
	 }

	 h2.middle-heading {
	 	display: grid;
	 	margin: auto;
	 	grid-column: 1 / span 2;
	 	font-size: 1.5;
	 	background: var(--light);
	 	padding: 1em;
	 	text-align: center;
	 }
		
	 .large-heading h1 {
		 font-size: 1.5em;
	 }
	 .services {
		 grid-template-columns: repeat(2, 1fr);
	 }

	 .service-topic:nth-child(3) {
	 	grid-column-end: 3;
	 	grid-column: span 2;
	 }

	 .service-topic:nth-child(7) {
	 	grid-column-end: 3;
	 	grid-column: span 2;
	 }

	 .services-list {
			display: grid;
			grid-template-columns: repeat(2, 1fr);
			width: 100%;
			margin: auto;
			padding: auto;
			font-size: 1.2em;
	}
		.services-list h2 {
			background-color: var(--primary);
			color: var(--light);
			text-align: center;
			width: 100%;
			margin: auto;
			padding: 0 1em;
		}
	.services-list li {
			padding: .2rem;
	}
	.services-3:nth-child(3) {
	 	grid-column-end: 3;
	 	grid-column: span 2;
		margin: auto;
		width: 100%;
	 }
	
	.services-3 h2 {
		text-align: center;
	}
	.services-3 ul {
		display: table;
		margin: auto;
		
	}
	.service-topic-area .image-holder img {
		display: block;
		max-width: 400px;
		/* min-width: 250px; */
		margin: auto;
		padding: 1em;
	}

	.service-topic-area > p {
	font-size: 1.2em;
	width: 80%;
	padding: 1em;
	text-align: center;
	}

	.top-header-image img {
	width: 576px;
  }

	 
	 .footer {
	 	grid-template-columns: repeat(2, 1fr);
	 }

	 .footer-container:nth-child(3) {
		 grid-column-end: 3;
		 grid-column: span 2;
	 }

	 .site-creds {
		 text-align: center;
	 }

	 

 }












 @media(max-width: 520px) {

	.wrapper {
		margin: auto;
		display: block;
	}

	body {
		background-color: white;
		margin: auto;
		padding: 0;
		font-family: Arial, Helvetica, sans-serif;
	}

	.large-heading {
		display: flex;
		margin: auto;
		padding: 1em;
	 }

	.video {
		display: flex;
		width: 90%;
		height: auto;
		padding: 1em;
	}
	 
	ul {
		margin-left: auto;
		margin-right: auto;
		width: 70%;
	}

	.topnav a {
		padding: .2em;
	}

	.topnav {
		display: block;
		margin: auto;
	}

	p.slogan-2 {
		display: flex;
		font-size: 18px;
		margin: auto;
	}

	.website {
		display: none;
	}

	.top-container {
	 	grid-template-areas:
	 		'logo'
	 		'navigation'
	 		'hero';
 		}
		.hero {
			min-height: 150px;
		}

		.hero-text  {
			min-width: 75%;
			font-size: .6em;
	
		}

		.btn a {
			margin: auto;
			padding: 10px;
		} 
		.top-banner {
			display: flex;
			margin: auto;
			width: 100%;
			max-width: 500px;
		}

		.top-banner h4 {
			font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
			font-size: medium;
			color: var(--light);
		}

		.large-heading {
			padding: .3em;
		}

		.large-heading  h1 {
			width: 90%;
			font-size: 1.2em;
		}

		/* .top-list {
			align-items: center;
			width: 100%;
			margin: auto;
		} */

		.top-list ul {
			display: block;
			
		}

		.top-list li {
			width: 100%;
			font-style: italic;
			font-size: 1.1rem;
			padding: 5px 0px;
		}

		/* .top-list {
			display: none;
		} */

		.middle-heading {
			width: 100%;
	    margin: 0;
		}

		h2.middle-heading {
			width: 100%;
			background-color: var(--primary);
			color: var(--light);
			font-size: 1.2em;
		}

		.services {
			width: 100%;
			display: block;
			/* margin: auto; */
		 	/* grid-template-columns: 1fr; */
		 }

		.service-topic {
			background-color: #218e4110;
;
		}

		h2.service-title {
			padding: 0 5px;
		}

		.service-topic p {
			text-align: center;
			width: 90%;
			margin: auto;
		}

		.services-list {
			display: block;
			grid-template-columns: repeat(1, 1fr);
			width: 100%;
			margin: auto;
			padding: auto;
			font-size: 1.2em;
		}

		.services-1 ul {
		display: table;
		margin: auto;
		}

		.services-2 ul {
		display: table;
		margin: auto;
		}

		.services-3 ul {
		display: table;
		margin: auto;
		}

		.service-topic-area .image-holder img {
		display: block;
		max-width: 400px;
		margin: auto;
		}

		.service-topic-area > p {
		font-size: 1em;
		width: 80%;
		padding: .5em;
		text-align: center;
		}

		.top-header-image img {
	   width: 360px;
    }
		.reviews {
			display: block;
			background-color: var(--primary);
			color: #fff;
		}

		.comment {
			height: auto;
			margin: auto;
			text-align: center;
			display: block;
			padding: 10px;

		}
			

		.about-us-wrap {
			justify-content: center;
		  margin: auto;
		}

		.about-us-wrap p ,
		.about-us-wrap h2 {
			text-align: center;
			padding: 0;
		}

		.about-us-wrap p {
			padding-bottom: .5em;
		}

		.about-us-wrap img {
			width: 100%;
		}

		.footer {
			display: block;
		 	grid-template-columns: 1fr;
		 }

		.footer-left img {
			display: flex;
			margin: auto;
			width: 80%;
		 }

		.footer-left {
			text-align: center;
		}
		
		 /* .footer-center {
			text-align: center;
		} */

		

		.site-creds {
			text-align: center;
		}
		
		
		
 	}